@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Figtree';
  src: url('./fonts/Figtree.ttf') format('truetype');
}

body {
  font-family: 'Figtree', sans-serif;
  --sb-track-color: #232323;
  --sb-thumb-color: #ff0a00;
  --sb-size: 4px;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

.drag {
  -webkit-app-region: drag;
}

.no-drag {
  -webkit-app-region: no-drag;
}
